body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
}
h1 {
  color: #1a3863;
  font-size: 2.5em;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
  margin-top: 100px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.5em;
  }
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
@media (min-width: 768px) {
  .navbar {
    background-color: white;
    border: none;
  }
  .navbar-brand,
  .navbar-nav li a {
    line-height: 100px;
    height: 100px;
  }
  .navbar-brand {
    font-size: 2.5em;
    padding: 30px;
  }
  .navbar-nav li a {
    font-size: 1.25em;
    padding-top: 0;
  }
}
.navbar-nav li.active a {
  background-color: inherit !important;
  color: #333 !important;
}
.spareMap {
  height: 80vh;
}
.filters {
  display: table-cell;
  vertical-align: middle;
  padding-top: 100px;
  padding-left: 20px;
  height: 20vh;
  text-align: left;
}
.filters > * {
  display: inline-block;
  margin: 10px;
}
.filters select {
  border: 2px transparent;
  border-style: inset;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
  background-color: white;
}
.filters button {
  border: 2px transparent;
  border-style: inset;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
  background-color: white;
}
.profile-title {
  text-align: left;
  color: #e26d1e;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 3vh 3vh;
}
.profile-qtitle {
  font-weight: 100;
  font-size: 2em;
}
.profile-input {
  background-color: transparent !important;
  height: 5vh;
}
.dimension {
  margin-right: 10px;
}
.profile-form {
  padding-top: 5vh;
  padding: 5vh 5vh;
  text-align: left;
}
.profile-button {
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px 15px;
  font-size: 1.2em;
  font-weight: 200;
}
.logout {
  padding-top: 50px;
}
.spaceinfo {
  background-color: #e5eceb;
  text-align: left;
  padding: 10px 10px 20px 20px;
  margin: 10px 10px;
}
.spaceinfo img {
  width: 40vw;
  margin-bottom: 5vh;
}
.spaceinfo p {
  font-size: 1.5em;
  color: #00197a;
  font-weight: 200;
}
.spaceinfo ul {
  list-style: circle;
}
.spaceinfo h4 {
  font-weight: 400;
  font-size: 1.8em !important;
  color: #00197a;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.transPanel {
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: left;
  padding: 5px 5px 5px 5px;
}
.transPanel .p-title {
  font-weight: 400 !important;
  font-size: 1.3em;
}
.transPanel .p-body {
  font-size: 1.3em;
  font-weight: 200;
}
.listingPanel {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: left;
  padding: 5px 5px 5px 5px;
}
@media (min-width: 768px) {
  .listingPanel {
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
.listingPanel .p-title {
  font-weight: 400 !important;
  font-size: 1.3em;
}
.listingPanel .p-body {
  font-size: 1.3em;
  font-weight: 200;
}
.listingPanel h5 {
  font-size: 1.1em;
  font-weight: 200;
}
.map-sm {
  height: 30vh;
}
.col-no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.spacePanel {
  width: 46vw;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: left;
}
.orderPanel {
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: left;
  padding: 5px 5px 5px 5px;
}
.orderPanel h3 {
  color: #1a3863;
  font-size: 2em !important;
  font-weight: 400;
  margin-bottom: 2vh !important;
  border: none;
}
.orderPanel h4 {
  color: #1a3863;
  font-size: 1.5em !important;
  font-weight: 400;
  margin-bottom: 2vh !important;
  margin-top: 1vh !important;
  letter-spacing: 0em;
}
.orderPanel .p-title {
  font-weight: 400 !important;
  font-size: 1.3em;
}
.orderPanel .p-body {
  font-size: 1.3em;
  font-weight: 200;
}
.feedback {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.feedback h3 {
  color: #1a3863;
  font-size: 2em !important;
  font-weight: 400;
  margin-bottom: 2vh !important;
  border: none;
}
.feedback .input {
  width: 60vw;
  min-height: 30vh;
  margin-left: 20vw;
  margin-right: 20vw;
}
/* GEOSUGGEST */
.geosuggest {
  font-size: 1em;
  position: relative;
  text-align: left;
  width: 25vw;
}
.geosuggest_space {
  font-size: 1em;
  position: relative;
  text-align: left;
  width: 100%;
}
.geosuggest__input {
  width: 100%;
  border: 2px transparent;
  border-style: inset;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
.geosuggest__item__matched-text {
  font-weight: bold;
}
/* DATEPICKER */
.react-datepicker__input-container input {
  width: 100%;
  border: 2px transparent;
  border-style: inset;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
}
/* STRIPE */
.group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 20px;
  max-width: 70vw;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 15vw;
  margin-right: 15vw;
}
.group label {
  position: relative;
  color: #8898aa;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}
.group label:not(:last-child) {
  border-bottom: 1px solid #f0f5fa;
}

.group label > span {
  width: 120px;
  text-align: right;
  margin-right: 30px;
}

.group label > span.brand {
  width: 30px;
}
.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325f;
  outline: none;
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.group button {
  float: left;
  display: block;
  background: #666ee8;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 40px;
  line-height: 38px;
  outline: none;
}
.group button:focus {
  background: #555abf;
}
.group button:active {
  background: #43458b;
}
.btn-cancel {
  float: left;
  display: block;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  color: black;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  margin-left: 32.5%;
  margin-right: 32.5%;
  width: 35%;
  height: 40px;
  line-height: 38px;
  outline: none;
}
